<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">Xaler</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} Al usar este sitio, usted acepta nuestros términos de uso y nuestra política de privacidad </p>
            <p> <a href="https://xaler17.github.io"> Blog</a></p>
            <p> <a href="https://xaler17.github.io/politicas"> Políticas</a></p>
          </div>
          <h4></h4>
          <div class="footer-social">
            <ul class="list-reset">
             
              <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com"> <img src="../img/facebook.svg" target="_blank" width="28px" height="28px" alt="facebook"> </a></li>
              
              <li><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com"> <img src="../img/instagram.svg" target="_blank" width="28px" height="28px" alt="instagram"> </a></li>
              
              <li><a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com"> <img src="../img/youtube.svg" target="_blank" width="28px" height="28px" alt="youtube"> </a></li>
              
              <li><a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com"> <img src="../img/twitter.svg" target="_blank" width="28px" height="28px" alt="twitter"> </a></li>
              
              <li><a target="_blank" rel="noopener noreferrer" href="https://www.tiktok.com"> <img src="../img/tik_tok.svg" target="_blank" width="28px" height="28px" alt="tiktok"> </a></li>
              
              <li><a target="_blank" rel="noopener noreferrer" href="https://www.twich.com"> <img src="../img/twitch.svg" target="_blank" width="28px" height="28px" alt="twich"> </a></li>
              
              <li><a target="_blank" rel="noopener noreferrer" href="https://www.discord.com"> <img src="../img/discord.svg" target="_blank" width="28px" height="28px" alt="discord"> </a></li>
              
              <li><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com"> <img src="../img/linkedin.svg" target="_blank" width="28px" height="28px" alt="linkedin"> </a></li>


              <!--
              {% if site.pinterest %}
              <li><a href="{{ site.pinterest }}"> <img src="../img/youtube.svg" width="28px" height="28px" alt="Face"> </a></li>
              {% else %} {% endif %}
              --> 


              

































              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->